body .katex {
    font-family: JetBrains Mono;
    font-style: normal;
    font-size: 100%;
}

body .katex .mathnormal {
    font-family: JetBrains Mono;
    font-style: normal;
    font-size: 100%;
}

body .katex .mathbf {
    font-family: JetBrains Mono;
    font-weight: bold;
    font-size: 100%;
}