@font-face {
    font-family: JetBrains Mono;
    src: url('https://jsd.cdn.zzko.cn/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css');
}

body .katex {
    font-family: JetBrains Mono;
    font-style: normal;
    font-size: 100%;
}

body .katex .mathnormal {
    font-family: JetBrains Mono;
    font-style: normal;
    font-size: 100%;
}

body .katex .mathbf {
    font-family: JetBrains Mono;
    font-weight: bold;
    font-size: 100%;
}